<div class="auth-container">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          color="primary"
          (click)="router.navigate(['/home'])"
          default-href="#"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>Back</ion-title>
      <ion-progress-bar
        *ngIf="isloading"
        type="indeterminate"
      ></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-input
            type="text"
            formControlName="username"
            placeholder="Username"
            autocomplete="username"
          ></ion-input>
          <ion-note
            *ngIf="
              (registerForm.get('username').touched ||
                registerForm.get('username').focus) &&
              (registerForm.get('username').hasError('required') ||
                registerForm.get('username').hasError('minLength') ||
                registerForm.get('username').hasError('maxLength') ||
                registerForm.get('username').hasError('invalidCharacters'))
            "
            slot="error"
            >Invalid username</ion-note
          >
          <ion-button slot="end" fill="clear">
            <ion-icon
              class="input-icon"
              name="person-outline"
              color="primary"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <br />
        <ion-item>
          <ion-input
            autocomplete="email"
            formControlName="email"
            type="email"
            placeholder="Email"
          ></ion-input>
          <ion-note
            *ngIf="
              (registerForm.get('email').touched &&
                registerForm.get('email').hasError('required')) ||
              registerForm.get('email').hasError('pattern')
            "
            slot="error"
            >Invalid email</ion-note
          >
          <ion-button slot="end" fill="clear">
            <ion-icon
              name="mail-outline"
              color="primary"
              class="input-icon"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <br />

        <ion-item>
          <ion-input
            autocomplete="password"
            formControlName="password"
            placeholder="Password"
            type="password"
          ></ion-input>
          <ion-note
            *ngIf="
              registerForm.get('password').touched ||
              (registerForm.get('password').focus &&
                registerForm.get('password').hasError('required') &&
                registerForm.get('password').hasError('minLength'))
            "
            slot="error"
            >Invalid Password</ion-note
          >
          <ion-button slot="end" fill="clear">
            <ion-icon
              class="input-icon"
              name="lock-closed-outline"
              color="primary"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <br />

        <ion-button
          [disabled]="isloading || !this.registerForm.valid"
          type="submit"
          expand="block"
          >Register
        </ion-button>
      </ion-list>
    </form>
  </ion-card>
</div>
