ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.food-image {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.food-image__alt {
  width: 100%;
  height: auto;
}

.food-date__text {
  padding-left: 15px;
}

.food-date__text span {
  position: relative;
  top: -5px;
}

.food-header__container {
  position: relative;
  top: -10px;
}
