@import "../../../global.scss";

ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.card-title {
  position: relative;
  left: -20px;
}

.card-title ul li::marker {
  color: $primary-color;
}

.food-image {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.food-image__alt {
  width: 100%;
  height: auto;
}

.food-date__text {
  padding-left: 15px;
}

.food-date__text span {
  position: relative;
  top: -5px;
}

.food-header__container {
  position: relative;
  top: -10px;
}

img.ng-lazyloading {
  -webkit-animation: loader 5s linear infinite;
  animation: loader 5s linear infinite;
}

@-webkit-keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// img.ng-lazyloaded {
//   animation: fadein 1s;
// }

// @keyframes fadein {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
