<div class="auth-container">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title>Back</ion-title>
      <ion-progress-bar
        *ngIf="isloading"
        type="indeterminate"
      ></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <form>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-input
            autocomplete="email"
            name="email"
            [(ngModel)]="email"
            type="email"
            placeholder="Email"
          ></ion-input>
          <ion-button slot="end" fill="clear">
            <ion-icon
              name="mail-outline"
              color="primary"
              class="input-icon"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <br />

        <ion-item>
          <ion-input
            name="password"
            autocomplete="password"
            [(ngModel)]="password"
            placeholder="Password"
            type="password"
          ></ion-input>
          <ion-button slot="end" fill="clear">
            <ion-icon
              class="input-icon"
              name="lock-closed-outline"
              color="primary"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <br />

        <ion-button
          [disabled]="isloading"
          type="button"
          (click)="onSubmit()"
          expand="block"
          >Login</ion-button
        >
      </ion-list>
    </form>
  </ion-card>
</div>
