.description-icon {
  margin-top: 13px;
}

.input-icon__camera {
  font-size: 25px;
  color: white;
}

.image-preview {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-photo-btn {
  margin-left: 10px;
}
